body,
html,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: 0.34rem;
    display: flex;
    flex-direction: column;
}

.wrap header {
    width: 100%;
    height: 0.8rem;
    background: green;
    color: #fff;
    text-align: center;
    line-height: 0.8rem;
}

.wrap nav {
    width: 100%;
    height: 0.8rem;
}

.wrap nav ul {
    width: 100%;
    display: flex;
}

.wrap nav ul li {
    flex: 1;
    text-align: center;
    line-height: 0.8rem;
}

.wrap nav ul li.active {
    border-bottom: 0.01rem green solid;
    color: green;
}

.wrap .main {
    width: 100%;
    flex: 1;
    overflow: auto;
}

.wrap .main>div {
    display: none;
}

.wrap .main>div.active {
    display: block;
}

.wrap .main .search {
    width: 100%;
    height: 1rem;
    background: #eee;
    box-sizing: border-box;
    padding: 0.08rem;
}

.wrap .main .search>input {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    border-radius: 0.4rem;
    outline: none;
}

.wrap .list {
    width: 100%;
}

.wrap .list dl {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 1.4rem;
    padding-left: 1.4rem;
}

.wrap .list dl dt {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
}

.wrap .list dl dd {
    width: 100%;
    height: 100%;
    padding-right: 0.6rem;
    box-sizing: border-box;
    position: relative;
}

.wrap .list dl dd span {
    display: block;
}

.wrap .list dl dd p {
    position: absolute;
    right: 0.68rem;
    top: 0.3rem;
}

.wrap .list dl dd>div {
    position: absolute;
    right: 0;
    width: 0.6rem;
    height: 100%;
    top: 0;
}